<!doctype html>
<html>
  <head>
    <title>Chatroom</title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
  </head>
  <body>
    <ul id="messages"></ul>
    <input id="message" autocomplete="off" /><button onclick="sendMessage()">Send</button>
    <script>
      var socket = io();

      socket.on('message', function(msg) {
        var li = document.createElement('li');
        li.textContent = msg;
        document.getElementById('messages').appendChild(li);
      });

      function sendMessage() {
        var input = document.getElementById('message');
        socket.send(input.value);
        input.value = '';
      }
    </script>
  </body>
</html>
